.aboutsection{
  width: 100%;
  display: none;
}


.aboutintro{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
    /* justify-content: space-evenly; */
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
  }
  
  .aboutintro .card{
    width: 90%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(5, 26, 4, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
    box-shadow: 1px 1px 20px rgb(99, 99, 99);
    padding: 12px;
  }
  
  .aboutintro .card .cardtext {
    color: var(--color-black);
    width: 300px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .aboutintro .card .cardtext h3 {
    color: var(--color-primary);
    font-size: 32px;
    
  }
  
  .aboutintro .card .cardimage {
    width: 50%;
    height: 100%;
    background-color: #0400ff;
  }

  .aboutintro .card .cardimage img {
    width: 100%;
    height: 100%;
  }
 
  @media screen and (max-width: 1000px) {
    
    
  .aboutsection .aboutpic h2 q{
    font-size: 30px;
    color: var(--color-secondary);
  }
  
  .aboutintro .card .cardtext {
      width: 50%;
      padding: 12px;
    }
  
  }
  
  
  
  @media screen and (max-width: 600px) {
    
    
    .aboutsection .aboutpic h2 q{
      font-size: 30px;
      color: var(--color-secondary);
    }

    .aboutintro .card {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column-reverse;
    }
    
    .aboutintro .card .cardtext {
      color: var(--color-black);
      width: 300px;
      gap: 12px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }

    .aboutintro .card .cardimage {
      width: 100%;
      height: 300px;
      background-color: #0400ff;
    }
    
    }
  
  