* {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial;
}
/*, sans-serif*/
:root {
  --color-primary: rgb(3, 3, 99);
  --color-secondary: rgb(47, 47, 255);
  --color-accent: rgb(0, 255, 0);
  --color-white: #ffff;
  --color-black: rgb(0, 0, 0) f;
  --shadow: rgba(94, 92, 92, 0.473);
  --font-size: 16px;
  --bold: bold;
}

.errorsection{
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorcontainer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.errorsection h1{
  color: var(--color-primary);
  font-size: 80px;
}

.errorsection h2{
  color: var(--color-black);
}

a.indicator {
  background-color: var(--color-primary);
  color: var(--color-white);
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

hr {
  width: 90%;
  border: 1px solid #0400ff;
}

h2 {
  color: var(--color-primary);
}

footer {
  margin-top: 50px;
  position: static;
  height: 2cm;
  width: 100%;
  box-shadow: 2px -10px 12px rgba(128, 128, 128, 0.247);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
